*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
body,
html {
	font-family: Arial, sans-serif;
	height: 100%;
    background-color: black;
}
.map {
	width: 800px;
	height: 616px;

    position: absolute;
    top: 0;
    left: 0;
}
@media screen {
    .stencil {
        width: 800px;
        height: 616px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .stencil-print {
        display: none;
    }
}
@media print {
    .stencil {
        display: none;
    }
    .stencil-print {
        width: 800px;
        height: 616px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.map-application {
	height: 100%;
    margin:auto;
    position: relative;
	padding-top: 50px;
}


header {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	padding: 15px;
	z-index: 9;
	border-bottom: 1px solid #eee;
	width:100%;
}
header .appName {
	float: left;
}